.contain {
	width: 900px;
	background: rgb(255, 255, 255);
	margin: 0px auto;
	padding: 0px;
}

.content {
	width: 900px;
	height:500px;
	background: none 0% 0% repeat scroll transparent;
	margin: 10px auto;
	position: relative;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #505050;
	text-decoration: none;
}
.foots {
	position: relative;
	margin: 0px auto
}
.pdv {
	width: 643px;
	height: 45px;
	top: 0px;
	left: 0px;
	z-index: 8;
	position: absolute;
}

.pdv_content {
	overflow: hidden;
	width: 100%;
	
}
li .prodtitle2{
	background-color: transparent;
	border: none;
}
li .prodtitle2 a{ 
	background-color: transparent;
	border: none;
	text-decoration: none;
	font-size:12px;
	color: red;
}
.pdv_border {
	border: 0px;
	background: url(../img/pdv_border.jpg) 0px 0px no-repeat;
	margin: 0px;
	height: 45px;
}

.pdv_1 {
	float: right;
	width: 10px;
	height: 39px;
	background: url(../img/pdv_1.jpg) -890px 0px no-repeat;
}

.pdv_2 {
	margin: 0px;
	padding: 3px;
}

.pdv_3 {
	background: url(../img/pdv_3.gif) 15px no-repeat;
	padding-left: 40px;
	height: 39px;
	line-height: 39px;
}


.serchform {
	float: left;
	padding: 0px 3px 3px 3px;
}

.serchform input {
	width:40px;
	color: #666666;
	border: 1px #ddd solid; 
	line-height: 18px;
	padding: 0px 0px;
	background: #fbfbfb;
	margin-bottom: -5px;
	height: 18px;
}

.serchform select option {
	font-weight: normal;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	padding: 0px 2px 1px;
}

.imgField {
	width: 38px;
	height:;
}

.pdv_35 {
	width: 643px;
	height: 405px;
	top: 46px;
	left: 0px;
	z-index: 9;
	position: absolute;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #505050;
	text-decoration: none;
}

.spdv_35 {
	height: 405px;
	overflow: visible;
	width: 100%;
}

.zpdv_border {
	height: 100%;
	padding: 0;
	margin: 0;
	background: url(../img/zpdv_border.gif) repeat-y;
}

.zpdv_1 {
	height: 100%;
	background: url(../img/zpdv_border.gif) right repeat-y;
}

.zpdv_2 {
	width: 643px;
	height: 45px;
	background: url(../img/zpdv_2.jpg) 0px 0px no-repeat;
}

.jf {
	float: left;
	font: bold 18px/45px 'Microsoft YaHei', 'SimSun', Arial, Sans-Serif;
	text-align: left;
	padding-left: 70px;
	color: #ffffff;
}

.pdv_body {
	width: 637px;
	height: 350px;
	margin: 0px 3px;
	padding: 5px;
}

.body_u {
	margin: 3px;
	padding: 5px;
	width: 637px;
}



.zpdv_3 {
	float: right;
	width: 60px;
	height: 45px;
	text-align: right;
	background: url(../img/zpdv_2.jpg) -840px 0px no-repeat;
}

.hzquery {
	text-align: left;
	float: left;
	width: 50%;
	overflow: hidden;
}

.hzquery_left {
	float: left;
	text-align: left;
	margin-right: 15px;
	width: 160px;
}

.fang {
	width: 154px;
	height: 134px;
	border: 1px #ccc solid;
	background: #fff;
	padding: 2px;
	text-align: center;
}

.picFit {
	width: 154px;
	overflow: hidden;
}

.picFit a {
	color: #505050;
	text-decoration: none;
}

.picFit a img {
	width: 154px;
	height: 154px;
}

.hzquery_right {
	width: 100px;
	height: 140px;
	float: left;
	text-align: left;
	color: #666666;
	padding-top: 5px;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.right_top {
	height: 105px;
	width: 100px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.right_top>li {
	font: 14px 'Microsoft YaHei', 'SimSun', Arial, Sans-Serif;
	color: #505050;
	text-decoration: none;
	margin: 1px;
}

.right_bottom {
	height: 30px;
	width: 100px;
}

.right_top>li>font {
	color: #e42616;
}

.pdv_bottom {
	margin-top: -8px;
	height: 8px;
	line-height: 8px;
	background: url(../img/zpdv_2.jpg) 0px -222px no-repeat;
}

.pdv_bottom_right {
	float: right;
	margin-top: -8px;
	width: 8px;
	height: 8px;
	line-height: 8px;
	background: url(../img/zpdv_2.jpg) -892px -222px no-repeat;
}

.bottom_img {
	width: 100px;
	height: 30px;
	cursor: pointer;
}

.showpages {
	clear: both;
	padding: 0px;
	margin: 10px 0px;
	width: 100%;
	height: 30px;
	white-space: nowrap;
}

.page_left {
	float: left;
	padding: 3px 8px;
	white-space: nowrap;
}

.page_right {
	float: right;
	padding-right: 8px;
	white-space: nowrap;
}

.pages {
	margin: 0;
	padding: 0;
}

.pages>li {
	margin: 3px;
	list-style-type: none;
	float: left;
	border: 1px #999 solid;
	cursor: pointer;
}

.first_page, .up_page, .next_page, .last_page {
	color: #fff;
	background-color: #aaaaaa;
	padding: 3px 5px 1px 5px;
	white-space: nowrap;
}

.page_list {
	color: #fff;
	background-color: #aaaaaa;
	white-space: nowrap;
}

.select_page {
	color: #505050;
	padding: 0px 2px;
	white-space: nowrap;
}
.rightall{
	width:239px;
	border:1px solid red;
	float:right;
	
	position:relative;
}
.hright_top {
	width: 239px;
	height: 165px;
	top: 0px;
	right: 0px;
	z-index: 10;
	position: absolute;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #505050;
	text-decoration: none;
}

.top_content {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.tc {
	border: 0px;
	height: 165px;
	padding: 0px;
	margin: 0px;
	background: url(../img/tc.jpg) repeat-y;
}

.tc1 {
	margin-top: -10px;
	height: 10px;
	line-height: 10px;
	background: url(../img/tc1.jpg) 0px -220px no-repeat;
}

.tc2 {
	float: right;
	margin-top: -10px;
	width: 10px;
	height: 10px;
	line-height: 10px;
	background: url(../img/tc1.jpg) -890px -220px no-repeat;
}

.tcc {
	height: 100%;
	background: url(../img/tcc.jpg) right repeat-y;
}

.tcc_top {
	height: 43px;
	background: url(../img/tc1.jpg) 0px 0px no-repeat;
}

.tcc_bottom {
	margin: 0px 3px;
	padding: 10px;
}

.tcc_text {
	float: left;
	font: bold 16px/43px 'Microsoft YaHei', 'SimSun', Arial, Sans-Serif;
	text-align: left;
	padding-left: 50px;
	color: #feab43;
}

.tcc_right, .co_right {
	float: right;
	width: 60px;
	height: 43px;
	text-align: right;
	background: url(../img/tc1.jpg) -840px 0px no-repeat;
}

.bottom_text {
	COLOR: #000000;
	LINE-HEIGHT: 280%;
}

.hright_content {
	width: 239px;
	top: 176px;
	right:0px;
	z-index: 11;
	position: absolute;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #505050;
	text-decoration: none;
}

.content1 {
	overflow: hidden;
	width: 100%;
}

.co1 {
	border: 0px;
	height: 165px;
	padding: 0px;
	margin: 0px;
	background: url(../img/to1.jpg) repeat-y;
}

.co2 {
	margin-top: -10px;
	height: 10px;
	line-height: 10px;
	background: url(../img/tc1.jpg) 0px -220px no-repeat;
}

.co3 {
	float: right;
	margin-top: -10px;
	width: 10px;
	height: 10px;
	line-height: 10px;
	background: url(../img/tc1.jpg) -890px -220px no-repeat;
}

.coo1 {
	height: 100%;
	background: url(../img/coo1.jpg) right repeat-y;
}

.co_top {
	height: 43px;
	background: url(../img/tc1.jpg) 0px 0px no-repeat;
}

.co_bottom {
	margin: 0px 3px;
	padding: 10px;
}

.co_text {
	float: left;
	font: bold 16px/43px 'Microsoft YaHei', 'SimSun', Arial, Sans-Serif;
	text-align: left;
	padding-left: 50px;
	color: #feab43;
}

.newlist_diy {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.newlisti_diy {
	margin: 0;
	padding-left: 16px;
	list-style-type: none;
	color: #404040;
}

.newlista_diy:link, .newlista_diy:visited, .newlista_diy:active {
	color: #404040;
	text-decoration: none;
	font: 12px/32px simsun;
}

.newlista_diy:hover {
	color: #ff0000;
	text-decoration: underline;
	font: 12px/32px simsun;
}

.newlist_diy img {
	width: 6px;
	height: 6px;
}

.hright_bottom {
	width: 239px;
	top: 340px;
	right:0px;
	z-index: 12;
	position: absolute;
}

.bottom_content {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.bottom_1 {
	border: 0px;
	padding: 0px;
	margin: 0px;
	background: url(../img/bottom1.jpg) repeat-y;
}

.bottom_1_1 {
	height: 100%;
	background: url(../img/bottom_1.jpg) right repeat-y;
}

.bottom_b {
	margin-top: -10px;
	height: 10px;
	line-height: 10px;
	background: url(../img/tc1.jpg) 0px -220px no-repeat;
}

.bottom_right {
	float: right;
	margin-top: -10px;
	width: 10px;
	height: 10px;
	line-height: 10px;
	background: url(../img/tc1.jpg) -890px -220px no-repeat;
}

.bottom_top {
	height: 43px;
	background: url(../img/tc1.jpg) 0px 0px no-repeat;
}

.bottom_center {
	margin: 0px;
	font-size:10px;
	padding: 0px;
}

.top_left {
	float: left;
	font: bold 16px/43px 'Microsoft YaHei', 'SimSun', Arial, Sans-Serif;
	text-align: left;
	padding-left: 50px;
	color: #feab43;
}

.top_right {
	float: right;
	width: 60px;
	height: 43px;
	text-align: right;
	background: url(../img/tc1.jpg) -840px 0px no-repeat;
}

.hz_paihang {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.hzi_paihang {
	margin: 0;
	padding-left: 16px;
	list-style-type: none;
	color: #404040;
	border-bottom: 1px #ffe7e7 solid;
	height: 25px;
	line-height: 22px;
}

.hza_paihang:link, .hza_paihang:visited, .hza_paihang:active {
	color: #404040;
	text-decoration: none;
	font: 12px/32px simsun;
}

.hza_paihang:hover {
	color: #ff0000;
	text-decoration: underline;
	font: 12px/32px simsun;
}