* {
	margin: 0px;
	padding: 0px;
}

.topps {
	width: 900px;
	height: 100px;
	background: transparent;
	border-bottom: 5px solid sandybrown;
}

.log {
	width: 213px;
	height: 98px;
	background-color: saddlebrown;
	float: left;
}

.nav {
	width: 395px;
	height: 25px;
	text-align: center;
	background: url(../img/topmenu_bg.jpg) no-repeat;
	margin-top: 0px;
	margin-left: 500px;
	font: 5px Verdana, Arial, Helvetica, sans-serif
}

.nav a {
	line-height: 25px;
	color: black;
	text-decoration: none;
}

.nav a:hover {
	color: red;
}

.nav2 {
	width: 679px;
	height: 41px;
	margin-top: 34px;
	margin-left: 214px;
}

.nav2_ul {
	list-style-type: none;
}

.nav2_ul li {
	float: left;
	display: block;
	width: 93px;
	height: 40.8px;
	text-align: center;
	line-height: 40.8px;
	background: url(../img/menu.jpg) 0px 0px no-repeat;
}

.nav2_ul li a {
	text-decoration: none;
	display: block;
	width: 93px;
	text-align: center;
	font: bold 14px/41px 'Microsoft YaHei', 'SimSun', Arial, Sans-Serif;
	color: white;
}

.nav2_ul li a:hover {
	background: url(../img/menu_hover.jpg) 0px 0px no-repeat;
}

a .foots {
	width: 898px;
	height: 171px;
}

.bottommenu1 a:hover {
	color: red;
}

.bottommenu {
	width: 898px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #474747;
	background: url(../img/bottommenu_bg.jpg);
	repeat-x;
}

.bottommenu1 {
	width: 60%;
	height: 100%;
	line-height: 35px;
	text-align: center;
	margin: 0 auto;
	color: blueviolet;
}

.bottommenu1 a {
	text-decoration: none;
	color: black;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}

.pdv_ {
	width: 898px;
	height: 30px;
	padding: 5px;
}

.pdv_ ul li {
	list-style-type: none;
	float: left;
	margin: 0px;
	padding: 3px 10px 3px 10px;
	white-space: nowrap;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}

.pdv_ ul li a {
	color: black;
	text-decoration: none;
}

.pdv_ ul li a:hover {
	color: red;
}

.bottommenu2 {
	width: 898px;
	height: 29.6px;
	text-align: center;
	line-height: 29.6px;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}

.img1 {
	width: 121px;
	height: 40px;
	background: salmon;
	margin-left: 652px;
	margin-top: -38px;
}

div,
li,
td,
p,
select,
input,
textarea,
a,
button,
input {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #505050;
	text-decoration: none
}

ul {
	margin: 0px;
	padding: 0px;
}

a:link,
a:visited,
a:active {
	color: #505050;
	text-decoration: none;
}

a.nomal:link,
a.nomal:visited,
a.nomal:active {
	color: #505050;
	text-decoration: underline;
}

a:hover {
	color: #ff0000;
	text-decoration: underline;
}

form{margin:0;padding:0}
.input{border:1px #ddd solid;height:20px;line-height:20px;padding:0px 3px;color:#555;background:#f7f7f7}
.textarea{border:1px #ddd solid;font-size:12px;padding:3px;background:#f7f7f7}
.button{border:1px #c0c0c0 solid;height:22px;line-height:20px;padding:0px 3px;background:#e8e8e8;}
.submit{border:1px #c0c0c0 solid;height:22px;line-height:20px;padding:0px 3px;background:#e8e8e8;}
.mustfill{color:#ff0000}
select{font:12px Verdana, Arial, Helvetica, sans-serif;color:#505050;}