<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>dingcan</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	 <servlet>
  <servlet-name>loadNavigation</servlet-name>
  <servlet-class>com.oracleoaec.servlet.NavigationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>loadNavigation</servlet-name>
  <url-pattern>/loadNavigation.do</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>selectalljob</servlet-name>
  <servlet-class>com.oracleoaec.servlet.SelectalljobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>selectalljob</servlet-name>
  <url-pattern>/selectalljob.do</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>addtousu</servlet-name>
  <servlet-class>com.oracleoaec.servlet.AddComplaintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>addtousu</servlet-name>
  <url-pattern>/addtousu.do</url-pattern>
  </servlet-mapping>
	<servlet>
		<servlet-name>zengpin</servlet-name>
		<servlet-class>com.oracleoaec.servlet.SelectzengpinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>zengpin</servlet-name>
		<url-pattern>/zengpin.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>zengpintype</servlet-name>
		<servlet-class>com.oracleoaec.servlet.SelectGiftTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>zengpintype</servlet-name>
		<url-pattern>/zengpintype.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>giftBySrc</servlet-name>
		<servlet-class>com.oracleoaec.servlet.SelectGiftBySrcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>giftBySrc</servlet-name>
		<url-pattern>/giftBySrc.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>giftlist</servlet-name>
		<servlet-class>com.oracleoaec.servlet.SelectGiftlistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>giftlist</servlet-name>
		<url-pattern>/giftlist.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>gifttop</servlet-name>
		<servlet-class>com.oracleoaec.servlet.SelectGiftTopServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gifttop</servlet-name>
		<url-pattern>/gifttop.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addgift</servlet-name>
		<servlet-class>com.oracleoaec.servlet.AddGiftServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addgift</servlet-name>
		<url-pattern>/addgift.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>foodCulture</servlet-name>
		<servlet-class>com.oracleoaec.servlet.FoodCultureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>foodCulture</servlet-name>
		<url-pattern>/foodCulture.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>more</servlet-name>
		<servlet-class>com.oracleoaec.servlet.MoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>more</servlet-name>
		<url-pattern>/more.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>notice</servlet-name>
		<servlet-class>com.oracleoaec.servlet.NoticeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>notice</servlet-name>
		<url-pattern>/notice.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>detail</servlet-name>
		<servlet-class>com.oracleoaec.servlet.DetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detail</servlet-name>
		<url-pattern>/detail.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>scroll</servlet-name>
		<servlet-class>com.oracleoaec.servlet.ScrollImgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scroll</servlet-name>
		<url-pattern>/scroll.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateBrowsing</servlet-name>
		<servlet-class>com.oracleoaec.servlet.UpdateBrowsingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateBrowsing</servlet-name>
		<url-pattern>/updateBrowsing.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>status</servlet-name>
		<servlet-class>com.oracleoaec.servlet.StatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>status</servlet-name>
		<url-pattern>/status.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>oppsta</servlet-name>
		<servlet-class>com.oracleoaec.servlet.OppStaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>oppsta</servlet-name>
		<url-pattern>/oppsta.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>guestbook</servlet-name>
		<servlet-class>com.oracleoaec.servlet.FindByPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>guestbook</servlet-name>
		<url-pattern>/guestbook.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addGuestbook</servlet-name>
		<servlet-class>com.oracleoaec.servlet.addGuestBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addGuestbook</servlet-name>
		<url-pattern>/addGuestbook.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>vc</servlet-name>
		<servlet-class>com.oracleoaec.servlet.VerifyCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vc</servlet-name>
		<url-pattern>/vc.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>checkVC</servlet-name>
		<servlet-class>com.oracleoaec.servlet.CheckVCServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkVC</servlet-name>
		<url-pattern>/checkVC.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ac</servlet-name>
		<servlet-class>com.oracleoaec.servlet.AddArticleCommentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ac</servlet-name>
		<url-pattern>/ac.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>viplogin.do</servlet-name>
		<servlet-class>com.oracleoaec.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>viplogin.do</servlet-name>
		<url-pattern>/viplogin.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>code.do</servlet-name>
		<servlet-class>com.oracleoaec.servlet.CodeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>code.do</servlet-name>
		<url-pattern>/code.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ordersearch</servlet-name>
		<servlet-class>com.oracleoaec.servlet.OrderListServletByPhone</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ordersearch</servlet-name>
		<url-pattern>/ordersearch.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>orderdetail</servlet-name>
		<servlet-class>com.oracleoaec.servlet.OrderdetailServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>orderdetail</servlet-name>
		<url-pattern>/orderdetail.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login/regin.do</servlet-name>
		<servlet-class>com.oracleoaec.servlet.ReginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login/regin.do</servlet-name>
		<url-pattern>/regin.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CheckReg</servlet-name>
		<servlet-class>com.oracleoaec.servlet.CheckRegServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CheckReg</servlet-name>
		<url-pattern>/checkReg.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updataVipInfo.do</servlet-name>
		<servlet-class>com.oracleoaec.servlet.UpdataVipInfoSevlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>updataVipInfo.do</servlet-name>
		<url-pattern>/updataVipInfo.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>optionalfood</servlet-name>
		<servlet-class>com.oracleoaec.servlet.OptionalfoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>optionalfood</servlet-name>
		<url-pattern>/optionalfood.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>findCount</servlet-name>
		<servlet-class>com.oracleoaec.servlet.OptionalfoodCountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>findCount</servlet-name>
		<url-pattern>/findCount.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>other</servlet-name>
		<servlet-class>com.oracleoaec.servlet.OptionalfoodOtherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>other</servlet-name>
		<url-pattern>/other.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fixed</servlet-name>
		<servlet-class>com.oracleoaec.servlet.FixedfoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fixed</servlet-name>
		<url-pattern>/fixed.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sum</servlet-name>
		<servlet-class>com.oracleoaec.servlet.SumfoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sum</servlet-name>
		<url-pattern>/sum.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fixCount</servlet-name>
		<servlet-class>com.oracleoaec.servlet.FixedfoodCountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fixCount</servlet-name>
		<url-pattern>/fixCount.do</url-pattern>
	</servlet-mapping>
	 <servlet>
  <servlet-name>weekfood</servlet-name>
  <servlet-class>com.oracleoaec.servlet.LoadWeekFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>weekfood</servlet-name>
  <url-pattern>/weekfood.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>weekfoo</servlet-name>
  <servlet-class>com.oracleoaec.servlet.LoaddaysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>weekfoo</servlet-name>
  <url-pattern>/loaddays.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>byday</servlet-name>
  <servlet-class>com.oracleoaec.servlet.BydateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>byday</servlet-name>
  <url-pattern>/byday.do</url-pattern>
  </servlet-mapping>
  
	<filter>
		<filter-name>lanjie</filter-name>
		<filter-class>com.oracleoaec.filter.FilterAll</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>lanjie</filter-name>
		<url-pattern>/giftlist.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>lanjie</filter-name>
		<url-pattern>/addgift.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>lanjie</filter-name>
		<url-pattern>/more.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>lanjie</filter-name>
		<url-pattern>/notice.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>lanjie</filter-name>
		<url-pattern>/detail.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>lanjie</filter-name>
		<url-pattern>/status.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>lanjie</filter-name>
		<url-pattern>/oppsta.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>lanjie</filter-name>
		<url-pattern>/ac.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>lanjie</filter-name>
		<url-pattern>/ordersearch.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>lanjie</filter-name>
		<url-pattern>/orderdetail.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>lanjie</filter-name>
		<url-pattern>/updataVipInfo.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>lanjie</filter-name>
		<url-pattern>/sum.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>lanjie</filter-name>
		<url-pattern>/fixCount.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
	<filter-name>lanjie</filter-name>
	<url-pattern>/jfdh.html</url-pattern>
	</filter-mapping>

</web-app>